<h3>Post a wall message to: <%= @group.name %></h3>

<% form_tag  url_for(group_posts_path(@group.id)), :method=>:post do -%>
 
  
  <%= hidden_field_tag 'group_id', @group.id %>
  
  <p>
    <%= text_area_tag 'message', nil, :rows => 10, :cols => 60 %>
  </p>
  <p>
    <%= check_box_tag 'send_via_email', 'yes', true %> Send the whole group an email
  </p>
  <p>
    <%= submit_tag 'Save' %>
  </p>
<% end -%>
 <p>
<%= link_to 'Back', url_for(groups_path) %>
</p>